/* Basit CSS Reset */
* {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Basit CSS Reset */
/* Genel */
body {
  background-color: #121212;
  width: 100%;
  margin: 0 auto;
}

.dm-sans-normal {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.dm-sans-link {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  width: 100%;
  margin: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-image: url("../src/images/header/graphic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 375px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  height: 50px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
}

.logo a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 24px;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.menu-toggle-checkbox,
.close-menu-label,
.mobile-image,
.nav-links {
  display: none;
}
.hamburger-menu-icon {
  stroke: rgba(255, 255, 255, 1);
  width: 32px;
  height: 32px;
  cursor: pointer;
  stroke-width: 2;
  z-index: 1;
}
.camera-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: rgba(190, 166, 158, 0.4);
  border-radius: 50%;
  cursor: pointer;
}
.camera-icon {
  width: 16px;
  height: 16px;
}
.camera-icon-div {
  display: block;
}
#menu-toggle:checked ~ .nav-links {
  position: absolute;
  display: flex;
  background-color: rgba(190, 166, 158, 1);
  max-width: 218px;
  height: 812px;
  width: 100%;
  top: 0px;
  right: 0px;
}
#menu-toggle:checked ~ .nav-links ul {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  margin-top: 180px;
  margin-left: 20px;
  gap: 20px;
  text-transform: uppercase;
  font-size: 14px;
}
#menu-toggle:checked ~ .nav-links a {
  color: rgba(18, 18, 18, 1);
  font-weight: 400;
}
#menu-toggle:checked ~ .nav-links a:hover,
#menu-toggle:checked ~ .nav-links a:active {
  font-weight: 700;
}
#menu-toggle:checked ~ .close-menu-label {
  position: absolute;
  display: flex;
  width: 32px;
  height: 32px;
  stroke: rgba(18, 18, 18, 1);
  stroke-width: 3;
  top: 20px;
  right: 20px;
  z-index: 2;
}
#menu-toggle:checked ~ .mobile-image {
  display: flex;
  position: absolute;
  z-index: 3;
  top: 483px;
  right: 0px;
}
.sign-up-button {
  display: none;

  background-color: #fff;
  height: 60px;
  border-radius: 12px;
  color: rgba(18, 18, 18, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 16px 84px;
  white-space: nowrap;
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: rgba(29, 29, 29, 1);
  color: rgba(190, 166, 158, 1);
}

/* hero */
.hero {
  background-image: url("../images/hero/graphic.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 80px;
  height: 866px;
}
.hero-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 30px;
  background: #1d1d1d;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero-text-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: #fff;
  margin-top: 40px;
  width: 295px;
}

.hero-title span {
  font-style: italic;
  font-weight: 400;
  color: #bea69e;
}

.hero-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fff;
}

.hero-stats {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 40px;
}

.hero-students {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
  width: 110px;
}
.hero-students img {
  width: 109px;
  height: 44px;
}

.hero-ok-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  width: 89px;
}

.hero-ok-div span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
}
.hero-ok {
  fill: #bea69e;
  width: 18px;
  height: 18px;
}
.hero-reviews {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 12px;
}
.hero-star {
  position: relative;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  background: #bea69e;
}
.hero-star svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
}
.hero-review-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 57px;
  height: 40px;
}
.hero-text {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.5);
}
.hero-review-div strong {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: #fff;
}
.hero-image {
  width: 259px;
  height: 314px;
  align-self: center;
}
.hero-image img {
  width: 259px;
}
/* hero end */

/* about us */
#about-us {
  color: #fff;
  padding: 60px 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-us-texts {
  display: flex;
  flex-direction: column;
}

.about-us-container {
  font-family: "DM Sans", sans-serif;
}

/* Başlık */
.about-us-container h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -4%;
}

.about-us-container h2 span {
  color: #bea69e;
  margin-left: 5px;
}

/* Liste düzeni */
.about-us-container ul {
  list-style: none;
}

/* Kamera görseli için yuvarlak arka plan */
.about-us-container ul li:first-child {
  max-width: 1280px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-container ul li:first-child img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 30px 0px 30px 0px;
}
/* Paragraflar */
.about-us-paragraph {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  margin-bottom: 10px;
  font-weight: 400;
  padding: 5px;
}
.about-us-container h2 {
  margin: 0px 10px;
}
/* about us end */

/* our courses */
/* ALi Kemal CSS */
.courses-wrapper {
  width: 100%;
  max-width: 374px;
  margin: 0 auto; /* wrapper'ı ortala */
  padding: 0 20px; /* içte 20px nefes alanı */
  box-sizing: border-box; /* padding+border genişliğe dahil */
}
.courses-wrapper ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.courses-main {
  display: flex;
  flex-direction: column;
  width: clamp(0px, 100%, 342px); /* 342'yi geçme, küçükte %100 kal */
  margin: 20px auto; /* DÜZELTİLDİ: yatayda ortala */

  box-sizing: border-box;
  overflow-wrap: anywhere;
}
.courses-top {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.courses-top-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
  letter-spacing: -4%;
}
.courses-top-title span {
  color: #bea69e;
}
.courses-top-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.courses-cards-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 335px;
  opacity: 1;
  border-radius: 12px;
  border-width: 1px;
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  border: 1px solid #ffffff33;
  box-sizing: border-box;
  margin-top: 20px;
}
.courses-card-top {
  display: flex;
  flex-direction: column;

  margin-bottom: 8px;
}
.courses-card-numberline {
  display: flex;
  max-width: 279px;
  flex-direction: row;
  justify-content: space-between;
  margin: 28px 28px 28px 28px;
}
.courses-card-number {
  opacity: 0.4;
}
.courses-card-svg {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: #1d1d1d;
}
.courses-card-svg:hover {
  background: #bea69e;
}
.vektor-ok {
  width: 18px;
  height: 18px;
  fill: #ffffff;
}

.courses-card-title {
  max-width: 279px;
  margin: 28px 28px 28px 28px;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0%;
}
.courses-card-desc {
  max-width: 279px;
  margin: 28px 28px 28px 28px;

  opacity: 0.5;
}

.courses-cards-main {
  width: 100%;
  max-width: 335px;
  height: 100%;
  min-height: 398px;
}
/* our courses end */

/* tablet */
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  header {
    display: flex;
    max-width: 704px;
    height: 60px;
    padding: 22px 20px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
  }

  .menu-toggle-checkbox,
  .close-menu-label,
  .mobile-image,
  .nav-links {
    display: none;
  }
  .hamburger-menu-icon {
    stroke: rgba(255, 255, 255, 1);
    width: 40px;
    height: 38px;
    cursor: pointer;
    stroke-width: 2;
  }
  .camera-label {
    display: none;
  }

  #menu-toggle:checked ~ .nav-links {
    position: absolute;
    display: flex;
    background-color: rgba(190, 166, 158, 1);
    max-width: 218px;
    height: 812px;
    width: 100%;
    top: 0px;
    right: 0px;
    z-index: 2;
  }
  #menu-toggle:checked ~ .nav-links ul {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    margin-left: 20px;
    gap: 20px;
    text-transform: uppercase;
    font-size: 14px;
  }
  #menu-toggle:checked ~ .nav-links ul a {
    color: rgba(18, 18, 18, 1);
    font-weight: 400;
  }
  #menu-toggle:checked ~ .nav-links a:hover,
  #menu-toggle:checked ~ .nav-links a:active {
    font-weight: 700;
  }
  #menu-toggle:checked ~ .close-menu-label {
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    stroke: rgba(18, 18, 18, 1);
    stroke-width: 3;
    top: 20px;
    right: 20px;
  }
  #menu-toggle:checked ~ .mobile-image {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 483px;
    right: 0px;
  }
  .sign-up {
    display: block;
  }
  .sign-up-button {
    display: flex;
    background-color: #fff;
    border-radius: 12px;
    padding: 16px 58px;
    width: 186px;
    height: 60px;
    color: rgba(18, 18, 18, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
  }

  .sign-up-button:hover {
    background-color: rgba(29, 29, 29, 1);
    color: rgba(190, 166, 158, 1);
  }

  /* hero */
  .hero {
    padding-bottom: 100px;
    height: 966px;
    background-size: 100% 100%;
  }
  .hero-div {
    margin: 32px;
  }
  .hero-ok-div {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-text-div {
    width: 517px;
  }
  .hero-p {
    width: 418px;
  }
  .hero-title {
    font-size: 60px;
    width: 498px;
  }
  .hero-students {
    flex-direction: row;
    width: 202px;
    align-items: stretch;
  }
  .hero-text-container {
    padding-left: 12px;
  }
  .hero-image {
    width: 393px;
    height: 434px;
    overflow: hidden;
  }
  .hero-image img {
    height: initial;
    width: 100%;
    object-fit: cover;
  }
  /* hero end */

  /* about us */
  .about-us-container ul li:first-child {
    width: 700px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-us-container ul li:first-child img {
    width: 768px;
    height: 335px;
    transform: scale(1);
    display: block;
    object-fit: cover;
    overflow: hidden;
    border-radius: 250px;
  }
  .about-us-texts {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 20px auto 32px;
    flex-direction: row;
    gap: 20px;
  }

  .about-us-texts li {
    flex: 1;
  }

  .about-us-paragraph {
    font-size: 16px;
    line-height: 24px;
  }
  .about-us-container h2 {
    margin: 0px 32px;
  }

  /* about us end */

  /* our courses */
  .courses-wrapper {
    max-width: 760px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .courses-main {
    width: 100%;
    max-width: 704px; /* 335 + 335 + 20(gap) = 690 → 704 güvenli */
    margin: 20px auto;
  }

  .courses-main > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* kartlar arası boşluk */
    justify-content: left;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .courses-main > ul > li {
    flex: 0 1 335px; /* taban genişlik 335px */
    display: flex; /* içindeki kart yüksekliğiyle esnesin */
  }

  .courses-cards-main {
    width: 100%;
    max-width: 347px;
    height: 452px; /* senin ölçün */
    margin-top: 0; /* gap varken gerek yok */
  }

  .courses-top-title {
    width: 510px;
    font-size: 48px;
    line-height: 54px;
  }

  .courses-top-desc {
    width: 100%;
  }

  .courses-main {
    width: clamp(0px, 100%, 704px);
  }
  .courses-top {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 20px;
    justify-content: space-between;
    box-sizing: border-box;
  }
  /* our courses end */
}
/* desktop */
@media screen and (min-width: 1280px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
  }
  header {
    display: flex;
    max-width: 1240px;
    width: 100%;
    height: 60px;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 0;
    border: 1px solid red;
  }

  .menu-toggle-checkbox,
  .close-menu-label,
  .mobile-image,
  .hamburger-menu-icon {
    display: none;
  }

  .camera-label {
    display: none;
  }
  .nav-links {
    display: flex;
  }

  .container .nav-links ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .container .nav-links ul a {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
  }

  .nav-links ul a:hover {
    color: rgba(190, 166, 158, 1);
  }
  .sign-up {
    display: block;
  }
  .sign-up-button {
    display: flex;

    padding: 16px 84px;
    width: 238px;
    line-height: 156%;
  }

  .sign-up-button:hover {
    background-color: rgba(29, 29, 29, 1);
    color: rgba(190, 166, 158, 1);
  }

  /* hero */
  .hero {
    padding-bottom: 150px;
    height: 720px;
  }
  .hero-div {
    margin: 100px;
    padding: 50px;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .hero-text-container {
    width: 517px;
    justify-content: space-between;
  }
  .hero-text-div {
    gap: 24px;
  }
  .hero-image,
  .hero-image img {
    width: 397px;
    height: 520px;
  }
  .hero-title {
    margin-top: 0;
  }
  .hero-stats {
    margin-bottom: 50px;
  }
  /* hero end */

  /* about us */
  .about-us-container ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 30px 15px;
  }
  .about-us-container ul li:first-child img {
    width: 570px;
    height: 275px;
    transform: scale(1);
    display: block;
    object-fit: cover;
    overflow: hidden;
    border-radius: 250px;
    position: relative;
  }

  .about-us-texts {
    display: flex;
    flex-direction: row;
    max-width: 595px;
  }

  .about-us-paragraph {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
    font-weight: 200px;
  }
  .about-us-container h2 {
    margin: 0px 50px;
  }
  /* about us end */

  /* our courses */
  .courses-wrapper {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .courses-main {
    width: 100%;
    max-width: 1045px; /* 335 + 335 + 20(gap) = 690 → 704 güvenli */
    margin: 20px auto;
  }

  .courses-main > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* kartlar arası boşluk */
    justify-content: left;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .courses-main > ul > li {
    flex: 0 1 335px; /* taban genişlik 335px */
    display: flex; /* içindeki kart yüksekliğiyle esnesin */
  }

  .courses-cards-main {
    width: 100%;
    max-width: 335px;
    height: 398px; /* senin ölçün */
    margin-top: 0; /* gap varken gerek yok */
  }

  .courses-top-title {
    width: 510px;
    font-size: 48px;
    line-height: 54px;
  }

  .courses-top-desc {
    width: 405px;
  }

  .courses-main {
    width: clamp(0px, 100%, 1081px);
  }
  .courses-top {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 20px;
    justify-content: space-between;
    box-sizing: border-box;
  }
  /* our courses end */
}

@media screen and (min-width: 1440px) {
  .about-us-container ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    padding: 30px 5px 0px 35px;
  }
  .about-us-container ul li:first-child img {
    width: 670px;
    height: 275px;
    transform: scale(1);
    display: block;
    object-fit: cover;
    overflow: hidden;
    border-radius: 250px;
    position: relative;
  }

  .about-us-texts {
    display: flex;
    flex-direction: row;
    max-width: 755px;
    gap: 30px;
    padding: 20px 50px;
  }

  .about-us-paragraph {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
    font-weight: 400px;
  }
  .about-us-container h2 {
    margin: 0px 50px;
  }
}
